@import url('../shared_compos/nav/nav.css');
@import url('../shared_compos/footer/footer.css');
@import url('./cart_item/cart_item.css');

* {
    list-style: none;
    text-decoration: none;
}

.filler{
    height: 80vh;
}