@import url('../../assets/init_styles.css');
@import url('../../assets/colors.css');

* {
    list-style: none;
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--secondary-bg);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: flex;
    flex-direction: column;


    .top {
        width: 100%;
        background-color: var(--primary-bg);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 10vw;

        ul {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            list-style: none;
            padding: 10px 20px;
            margin: 0;
            list-style: none;
        }

        .nav-links {
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s ease;

            a {
                text-align: center;
                color: var(--text-color);
            }

            a:hover {
                color: var(--text-hover1)
            }
        }

        .nav-icons {
            i {
                color: var(--text-color);
            }

            i:hover {
                color: var(--text-hover1)
            }
        }

        input[type="text"] {
            border-radius: 10px;
            padding: 10px 20px;
            border: none;
            background-color: var(--light-gray);
            color: var(--text-color);
        }
    }

    .bottom {
        padding: 0;
        width: 100%;
    }

    .bottom>ul {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        padding: 10px 0;
        margin: 0 10vw;

        li {
            /* border-right: 1px solid var(--gray-color); */
            padding: 0 20px 0 0;
            flex-grow: 1;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 1rem;
            transition: background-color 0.3s ease;
            cursor: pointer;

            &:hover {
                background-color: #4b4a4a;

                span {
                    color: white;
                }

                img {
                    filter: brightness(0) invert(1);
                }
            }

            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }

            span {
                text-align: center;
                color: var(--text-color);
            }

            /* img{
                color: var(--text-color);
            }

            &:hover{
                span{
                    color: var(--green-color);
                }
                i{
                    color: var(--green-color);
                }
            } */
        }

        li::after {
            content: "";
            width: 1px;
            height: 10px;
            background-color: var(--gray-color);
            margin: 0 20px;
        }

        li:last-child::after {
            display: none;
        }
    }
}