
.items_section{
    padding: 2rem 10vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .nav_menu{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        
        color: var(--text-color);

        &.active{
            color: var(--text-hover1);
        }
    }

    .items{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
    }
}